*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;

}


body {
    background-color: rgb(53, 53, 53);
    
}

.spot{
    font-size: 18px;
    font-weight: 1px;
}
ul{
    list-style: none;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;;
    margin-block-end: 1em;
    line-height: 1em;
}
a{
    line-height: 1em;
    text-decoration: none;
}
a:hover{
    background-color:darkgray;
}


.background-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    background-color: rgb(53, 53, 53);
    /* background: url('pexels-steve-johnson-1509534.jpg')no-repeat; */
    background-position: center;
    background-size: cover;
    margin-top: 3%;
    

}

.top-bar-box{
    position:  fixed;
    width: 100%;
    top: 0;
    left:0;
    background-color: rgb(24, 23, 23);
    display: flex;
    justify-content: left;     
    align-items: center;
    padding: 0px;
    
}

.top-bar-box a{
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large; 
}

.top-bar-box a:hover{
    font-size: large;
    background-color:darkgray;
    color: black;
    border-radius: 10px
}


.top-bar-box img{
    width: 98px;
}

.topcontent-top{
    margin-top: 1%;
    
}
.topcontent{
    margin-top: 75px;
}


.section-content-area{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    /* background: url('pexels-steve-johnson-1509534.jpg')no-repeat; */
    background-position: center;
    background-size: cover;
    margin-top: 1%;   
}

.head-title{
    font-size: 50px;
    font-weight: 200;
    margin-top: 1%;
    color: white;
    text-align:center;
    display: block;   
}

.HRstyle{
    margin-right: auto;
    margin-left: auto ;
    align-items: center;
    display: block;
    width: 50%;
}

.HRstyle2{
    margin-right: auto;
    margin-left: auto ;
    align-items: center;
    display: block;
    width: 50%;
}

.headPhoto{
    width: 185px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    justify-items: center;
    align-items: center;
    display: block;
}
.name{
    align-items: center;
    color: #fff;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 0%;
}

.name1{
    font-size: 35px;
}
 
.name2{
    font-size: 25px;
    padding-top: 1px;
}

.top-content {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto ;
    margin-bottom: 15px;
    display: block;  
    padding-top: 15%;
    width: 50%;
    text-align: center;
    
}

.Resume-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
    /* background: url('pexels-steve-johnson-1509534.jpg')no-repeat; */
    background-position: center;
    background-size: cover;
    margin-top: 1%;   
}

.Resume-area-content{
    margin:auto;
    max-width: 80%;
    margin-top: 1%;
}



.resume-time-line{
    width: 200px;
    padding: 20px;
    margin: 5%;
}

.timeline{  
    font-size: 20px;
    color: #fff;
    display: block;
    margin-right: 1px;
}

.exp-content{
    color: #fff;
    text-align: center;
     
}
.exp ul{
    text-align: center;
    margin-right: 0px;
}
.mentaljourney-content{
    color: #fff;
}
.time-line-conten{
    color: #fff;

}


.button-menu{
    position: fixed;
    text-align: right;
    bottom: 5%;
    left: 78%;
    list-style: none; 
    overflow: hidden;
   
}
.button-menu  #button-menu-list{
    display: block;
    
    
}

.toggle_btn{
    color: #fff;
    size: 100px;
}

.burger_btn{
    display: block;
    background-color: black;
    padding: 15px;
    border-radius: 60px;
    cursor: pointer;
    position: fixed;
    text-align: right;
    bottom: 5%;
    left: 88%;
    list-style: none; 
}

.bar{
    width: 33px;
    background-color: #fff;
    margin: 4px;
    height: 4px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.top-list{
    display: flex;
    list-style: none;
}


.button-menu-list{
    position: fixed;
    text-align: right;
    bottom: 10%;
    left: 78%;
    list-style: none;
    cursor: pointer;
    display: block;
   
}
.show{
    display: none;
}



.list1{
    font-size: 30px;
    font-style: italic;
    color: #fff;
    line-height: 1.5em;
    padding: 6px;
    

}
.list2{
    font-size: 30px;
    font-style: italic;
    color: #fff; 
    line-height: 1.5em;
    padding: 6px;

}
.list3{
    font-size: 30px;
    font-style: italic;
    color: #fff;
    line-height: 1.5em;
    padding: 6px;

}
.list4{
    font-size: 30px;
    font-style: italic;
    line-height: 1.5em;
    padding: 15px;
}


.button-menu-list a{
    color: #fff; 
    border-radius: 5px; 
}   

.time-line-content{
    color: #fff;
    font-size: 50px;
    text-align: center;
    

}




/* .burger_btn--open{
    width: 100%;
    transition: translate(-50%)
} */


/* 
.button-menu-list--open{
    transform:translate(100%);
} */



@media screen and (max-width: 860px){ 
    .top-bar-box{
       display: none;
    }
}

/* @media screen and(max-width: 860px){ 
    .button-menu-list{
        position: fixed;
        top: 100%;
        width: 100%;
        padding: 15px 0 25px;
        background-color: black;
        font-size: 30px;
        transform: translate(-50%);
        display: block;
    }
} */




html {
    scroll-behavior: smooth;
}   

.burger_btn:hover{
     background-color: rgb(41, 62, 75);
}
  
.acttion_Topbtn{
    font-weight: 100%;
    display: block;
    font-size: 25px;
    color: floralwhite;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    text-align: right;
    bottom: 0%;
    left: 90%;
    z-index: 99;
    outline: none;
}
.acttion_Topbtn:hover{
    color:  black;
}







